langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers
langchain-huggingface
faiss-cpu
langchain-chroma
langchain-core
langchain-classic
langchain-groq
fastapi
uvicorn
langserve
sse_starlette
langgraph
Ipython
streamlit
tavily-python